In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
def delete_junk_rows(df):
    junk_rows = df[(df['Games Played'] == 'Overall') | (df['School'] == 'School')].index
    return df.drop(junk_rows, inplace=True)

# Basic School Stats

In [3]:
basic_school_stats = pd.read_html('https://www.sports-reference.com/cbb/seasons/men/2024-school-stats.html')[0]
basic_opponent_stats = pd.read_html('https://www.sports-reference.com/cbb/seasons/men/2024-opponent-stats.html')[0]
advanced_school_stats = pd.read_html('https://www.sports-reference.com/cbb/seasons/men/2024-advanced-school-stats.html')[0]
advanced_opponent_stats = pd.read_html('https://www.sports-reference.com/cbb/seasons/men/2024-advanced-opponent-stats.html')[0]

# Conference Schedules

In [4]:
pac12_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/pac-12/men/2024-schedule.html')[0]
sec_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/sec/men/2024-schedule.html')[0]
big12_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/big-12/men/2024-schedule.html')[0]
big_ten_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/big-ten/men/2024-schedule.html')[0]
wcc_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/wcc/men/2024-schedule.html')[0]

In [5]:
big_east_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/big-east/men/2024-schedule.html')[0]
acc_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/acc/men/2024-schedule.html')[0]
mac_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/mac/men/2024-schedule.html')[0]
sunbelt_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/sun-belt/men/2024-schedule.html')[0]
a10_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/atlantic-10/men/2024-schedule.html')[0]

In [6]:
mvc_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/mvc/men/2024-schedule.html')[0]
bigsky_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/big-sky/men/2024-schedule.html')[0]
summit_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/summit/men/2024-schedule.html')[0]
maac_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/maac/men/2024-schedule.html')[0]
horizon_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/horizon/men/2024-schedule.html')[0]

In [7]:
aac_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/aac/men/2024-schedule.html')[0]
southern_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/southern/men/2024-schedule.html')[0]
wac_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/wac/men/2024-schedule.html')[0]
mwc_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/mwc/men/2024-schedule.html')[0]
atlantic_sun_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/atlantic-sun/men/2024-schedule.html')[0]

In [8]:
ovc_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/ovc/men/2024-schedule.html')[0]
america_east_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/america-east/men/2024-schedule.html')[0]
cusa_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/cusa/men/2024-schedule.html')[0]
nec_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/northeast/men/2024-schedule.html')[0]
ivy_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/ivy/men/2024-schedule.html')[0]
meac_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/meac/men/2024-schedule.html')[0]

In [9]:
patriot_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/patriot/men/2024-schedule.html')[0]
coastal_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/coastal/men/2024-schedule.html')[0]
big_west_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/big-west/men/2024-schedule.html')[0]
big_south_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/big-south/men/2024-schedule.html')[0]
southland_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/southland/men/2024-schedule.html')[0]
swac_schedule = pd.read_html('https://www.sports-reference.com/cbb/conferences/swac/men/2024-schedule.html')[0]

### Building CSV files for School Stats and Conference Schedules

In [10]:
# Columns for basic and advanced stats
basic_school_cols = ['Rank', 'School', 'Games Played', 'Wins', 'Losses', 'W-L%', 'SRS', 'SOS',
                     'Conf W', 'Conf L', 'Home W', 'Home L', 'Away W', 'Away L', 'Points Tm', 'Points Opp',
                     'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF']

advanced_school_cols = ['Rank', 'School', 'Games Played', 'Wins', 'Losses', 'W-L%', 'SRS', 'SOS',
                     'Conf W', 'Conf L', 'Home W', 'Home L', 'Away W', 'Away L', 'Points Tm', 'Points Opp',
                     'Pace', 'ORtg', 'FTr', '3PAr', 'TS%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'eFG%', 'TOV%', 'ORB%', 'FT/FGA']

# DataFrame Cleaning: Basic School Stats
basic_school_df = pd.DataFrame(basic_school_stats.dropna(axis=1, how='all').values, columns=basic_school_cols).drop_duplicates()
delete_junk_rows(basic_school_df)

# DataFrame Cleaning: Basic Opponent Stats
basic_opponent_df = pd.DataFrame(basic_opponent_stats.dropna(axis=1, how='all').values, columns=basic_school_cols).drop_duplicates()
delete_junk_rows(basic_opponent_df)

# DataFrame Cleaning: Advanced School Stats
advanced_school_df = pd.DataFrame(advanced_school_stats.dropna(axis=1, how='all').values, columns=advanced_school_cols).drop_duplicates()
delete_junk_rows(advanced_school_df)

# DataFrame Cleaning: Advanced Opponent Stats
advanced_opponent_df = pd.DataFrame(advanced_opponent_stats.dropna(axis=1, how='all').values, columns=advanced_school_cols).drop_duplicates()
delete_junk_rows(advanced_opponent_df)

# Building .csv files
school_stats = [basic_school_df, basic_opponent_df, advanced_school_df, advanced_opponent_df]
file_names = ['Basic_School_Stats.csv', 'Basic_Opponent_Stats.csv', 'Advanced_School_Stats.csv', 'Advanced_Opponent_Stats.csv']

for i, stat in enumerate(school_stats):
    stat.to_csv(file_names[i])

#### Combining School and Opponent data into a single, concise dataframe

In [11]:
basic_cols = ['MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF']
opp_cols = ['O_MP', 'O_FG', 'O_FGA', 'O_FG%', 'O_3P', 'O_3PA', 'O_3P%', 'O_FT', 'O_FTA', 'O_FT%', 'O_ORB', 'O_TRB', 'O_AST', 'O_STL', 'O_BLK', 'O_TOV', 'O_PF']
adv_cols = ['Pace', 'ORtg', 'FTr', '3PAr', 'TS%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'eFG%', 'TOV%', 'ORB%', 'FT/FGA']
adv_opp_cols = ['O_Pace', 'O_ORtg', 'O_FTr', 'O_3PAr', 'O_TS%', 'O_TRB%', 'O_AST%', 'O_STL%', 'O_BLK%', 'O_eFG%', 'O_TOV%', 'O_ORB%', 'O_FT/FGA']

combined_df = basic_school_df

for i, col in enumerate(opp_cols):
    combined_df[col] = basic_opponent_df[basic_cols[i]]

for i, col in enumerate(adv_cols):
    combined_df[col] = advanced_school_df[adv_cols[i]]

for i, col in enumerate(adv_opp_cols):
    combined_df[col] = advanced_opponent_df[adv_cols[i]]

combined_df.head()
combined_df.to_csv('CombinedStats.csv')
combined_df.to_excel('CombinedStats.xlsx')

,Rank,School,Games Played,Wins,Losses,W-L%,SRS,SOS,Conf W,Conf L,...,O_3PAr,O_TS%,O_TRB%,O_AST%,O_STL%,O_BLK%,O_eFG%,O_TOV%,O_ORB%,O_FT/FGA
0,1,Abilene Christian,32,15,17,.469,-3.81,-1.17,10,10,...,.315,.550,52.3,46.6,8.9,7.8,.517,18.3,29.2,.277
1,2,Air Force,31,9,22,.290,-4.33,1.87,2,16,...,.367,.580,53.8,49.9,9.0,11.3,.542,15.3,31.5,.292
2,3,Akron,34,24,10,.706,3.02,-2.52,13,5,...,.372,.510,46.7,45.9,9.0,7.4,.482,15.1,25.3,.191
3,4,Alabama,32,21,11,.656,21.12,11.43,13,5,...,.367,.544,47.0,45.1,9.9,12.6,.499,13.6,30.0,.294
4,5,Alabama A&M,33,11,22,.333,-14.67,-7.58,9,9,...,.369,.546,50.4,54.3,13.1,8.5,.493,17.1,32.7,.347

In [12]:
all_schedules = [pac12_schedule, sec_schedule, big12_schedule, big_ten_schedule, wcc_schedule,
                 big_east_schedule, acc_schedule, mac_schedule, sunbelt_schedule, a10_schedule,
                 mvc_schedule, bigsky_schedule, summit_schedule, maac_schedule, horizon_schedule,
                 aac_schedule, southern_schedule, wac_schedule, mwc_schedule, atlantic_sun_schedule, 
                 ovc_schedule, america_east_schedule, cusa_schedule, nec_schedule, ivy_schedule, 
                 meac_schedule, patriot_schedule, coastal_schedule, big_west_schedule, big_south_schedule,
                 southland_schedule, swac_schedule]

schedule_df = pd.concat(all_schedules, ignore_index=True)
junk_rows = schedule_df[schedule_df['Date'] == 'Date'].index
schedule_df.drop(junk_rows, inplace=True)

schedule_df.head()
schedule_df.to_csv('Conference_Games.csv')

                Date      Visitor/Neutral  PTS  Home/Neutral PTS.1   OT Notes
0  Thu, Dec 28, 2023  Southern California   74        Oregon    82  NaN   NaN
1  Thu, Dec 28, 2023                 UCLA   69  Oregon State    62  NaN   NaN
2  Fri, Dec 29, 2023              Arizona  100    California    81  NaN   NaN
3  Fri, Dec 29, 2023           Washington   69      Colorado    73  NaN   NaN
4  Fri, Dec 29, 2023        Arizona State   76      Stanford    73  NaN   NaN

### Capturing Team ELO Ratings

In [13]:
elo_df = pd.read_html('https://www.warrennolan.com/basketball/2024/elo')[0]

elo_df.head()
elo_df.to_csv('ELO_Ratings.csv')

          Team Record      ELO  Rank  ELO Delta
0  Connecticut   31-3  1868.77     1        2.0
1      Houston   30-4  1826.95     2        NaN
2       Purdue   29-4  1814.80     3       -2.0
3   Iowa State   27-7  1772.60     4        5.0
4       Auburn   27-7  1746.99     5       10.0